/* Keeps footer at bottom when needed */
.short_content {
  min-height: calc(100vh - 160px);
}

.footer {
  margin: 50px 0px 0px;
  text-align: center;
  padding: 15px;
}

.check:hover .fa-square-full,
.check .fa-check {
  display: none;
}
.check:hover .fa-check {
  display: inline;
}
