{% extends 'base.html' %}
{% set title = 'My List' %}
{% block content %}

<div class="short_content" style="width:90; margin:0 auto;">
    <h1>My to-do list</h1>
    <div>
        <ul class="list-group">
            <li class="list-group-item">{{ task }}</li>
        </ul>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Task" aria-label="Task" aria-describedby="button-addon2"
            name="task">
        <button type="submit" class="btn btn-outline-secondary" type="button" id="button-addon2">Add Task</button>
    </div>
</div>

{% endblock %}